@import '../../styles/_variables.scss';

table {
  font-family: Verdana, SansSerif;
  font-size: 15px;
  width: 100%;
  table-layout: fixed;
  border: none;
  border-spacing: 0;

  thead {
    background-color: $blue;
    color: #fff;
  }

  th {
    text-align: left;
    padding: 5px;
  }

  tr:nth-child(2n) {
    background-color: $light-green;
  }
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  box-sizing: border-box;

  button {
    background: $blue;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
    border: none;

    &:only-child {
      margin-left: auto;
    }
  }
}
