<section class="container" *ngIf="list">
  <table class="table table-striped table-bordered">
    <thead>
    <tr>
      <th *ngFor="let i of headers">{{i}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let i of list.venues" app-editable-row [item]="i">
    </tr>
    </tbody>
  </table>
  <nav>
    <button (click)="previous()" *ngIf="listPagination.offset >= listPagination.limit ">previous</button>
    <button (click)="next()">next</button>
  </nav>
</section>
