<ng-container *ngIf="!editMode">
  <td>{{rowData.id}}</td>
  <td>{{rowData.lat}}</td>
  <td>{{rowData.lon}}</td>
  <td>{{rowData.category}}</td>
  <td>{{rowData.name}}</td>
  <td>{{rowData.created_on}}</td>
  <td>{{rowData.geolocation_degrees}}</td>
  <td>
    <button (click)="edit()">edit</button>
  </td>
</ng-container>

<ng-container *ngIf="editMode" [formGroup]="formEditRow">
  <td>{{item.id}}</td>
  <td><input formControlName="lat" type="text"></td>
  <td><input formControlName="lon" type="text"></td>
  <td><input formControlName="category" type="text"></td>
  <td><input formControlName="name" type="text"></td>
  <td><input formControlName="created_on" type="text"></td>
  <td><input formControlName="geolocation_degrees" type="text"></td>
  <td>
    <button (click)="save()">save</button>
    <button (click)="cancel()" class="red">cancel</button>
  </td>
</ng-container>
