@import '../../styles/_variables.scss';

td {
  padding: 10px 5px;
  width: 200px;
  word-wrap: break-word;

  &:last-child {
    width: 250px;
    text-align: right;

    button {
      display: inline-block;
      margin: 0 1px;
      padding: 5px 10px;
      background-color: $green;
      border: none;
      cursor: pointer;
      color: #fff;

      &:hover {
        opacity: 0.8;
      }

      &.red {
        background-color: red;
      }
    }
  }

  input[type="text"] {
    border: solid 1px $green;
    font-size: 15px;
    width: 100%;

    &:focus {
      border-color: $blue;
    }
  }
}
